Animations.xcodeproj/xcuserdata/wan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Animations.xcodeproj/xcuserdata/wan.xcuserdatad/xcschemes/Animations.xcscheme
Animations.xcodeproj/xcuserdata/wan.xcuserdatad/xcschemes/xcschememanagement.plist
